import type { Config } from 'drizzle-kit';

export default {
  schema: './shared/schema.ts',
  out: './server/db/migrations',
  driver: 'pg',
  dbCredentials: {
    connectionString: process.env.DB_CONNECTION_STRING || 'postgresql://postgres:password@localhost:5432/seven_eleven_careers',
  },
} satisfies Config;